<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{{ _("Flask CMS") }}{% endblock %}
        </title>
        <!-- Favicon -->
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Bootstrap CSS and Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <!-- JQuery -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <!--TinyMCE -->
        <script src="https://cdn.jsdelivr.net/npm/tinymce@7.6.1/tinymce.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/tinymce@7.6.1/skins/ui/oxide/content.min.css"
              rel="stylesheet">
        <!-- Quill -->
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
              rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.bubble.css"
              rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
        <script type="module">
            import codemirror from 'https://cdn.jsdelivr.net/npm/codemirror@6.0.1/+esm'
        </script>
        <!-- KaTeX for Quill & LaTeX -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.css"
              integrity="sha384-FkTZUsHjYVyYpU6dse+5AzszY5617FqhnLpcMIIAlLKTbdmeVMO/7K6BrdHWM28V"
              crossorigin="anonymous">
        <script defer
                src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.js"
                integrity="sha384-CAltQiu9myJj3FAllEacN6FT+rOyXo+hFZKGuR2p4HB8JvJlyUHm31eLfL4eEiJL"
                crossorigin="anonymous"></script>
        <!-- Moment for Dates -->
        {{ moment.include_moment() }}
        {{ moment.locale(auto_detect=True) }}
        <!-- Dropzone for files -->
        {{ dropzone.load_css() }}
        {{ dropzone.load_js() }}
        {% block extras %}
        {% endblock extras %}
    </head>
    <body class="container py-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                        <div class="alert alert-warning" role="alert">
                        {% else %}
                            <div class="alert alert-{{ category }}" role="alert">
                            {% endif %}
                            {{ _(message) }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% if current_user.is_authenticated %}
                {% with tasks = current_user.get_tasks_in_progress() %}
                    {% if tasks %}
                        {% for task in tasks %}
                            <div class="alert alert-success" role="alert">
                                {{ task.description }}
                                <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endif %}
            {% block content %}
                <!-- Default content if not overridden -->
                <h1>{{ _("Hey! You&#39;ve Come to a blank page! this will probably get filled in eventually") }}</h1>
            {% endblock %}
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
            <script>
                const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)')

                function updateTheme() {
                    const theme = prefersDarkMode.matches ? 'dark' : 'light'
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }

                updateTheme();
                prefersDarkMode.addEventListener("change", () => updateTheme());
            </script>
        </body>
    </html>
