{% extends "base.html" %}
{% from "bootstrap_wtf.html" import quick_form, form_field %}
{% block title %}{{ _("Edit Blog") }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ _("Edit Blog") }}</h1>
            <br>
            <br>
            <div class="card mb-4">
                <div class="card-header">
                    <h2>{{ _("Edit Blog") }}</h2>
                </div>
                <div class="card-body">{{ quick_form(edit_form) }}</div>
            </div>
            <a href="{{ url_for('main.view_blog', blog_id=blog.id) }}"
               class="btn btn-outline-primary mt-3">{{ _("Back to Blog") }}</a>
            <a href="{{ url_for('main.blog_admin', blog_id=blog.id) }}"
               class="btn btn-outline-primary mt-3">{{ _("Back to Admin") }}</a>
        </div>
    </div>
{% endblock %}
