{% extends "base.html" %}
{% from "macros.html" import blog_navbar %}
{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
{{ blog_navbar(blog.id) }}
<div class="row">
    <div class="col-md-12">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.description }}</p>
        {% if posts %}
            {% for post in posts %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.content[:200] | safe }}{% if post.content|length > 200 %}...{% endif %}</p>
                        <a href="{{ url_for('main.view_post', post_id=post.id) }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts available yet.</p>
        {% endif %}

        <a href="{{ url_for('main.blog_admin',blog_id=blog.id) }}" class="btn btn-success mt-3">Go to Admin Panel</a>
    </div>
</div>
{% endblock %}