{% extends "base.html" %}
{% from "_macros.html" import blog_navbar, downstyle, blog_footer %}
{% block title %}
    {{ blog.title }}
{% endblock title %}
{% block content %}
    {{ blog_navbar(blog.id) }}
    <div class="row">
        <div id="about" class="h-card">
            <h1 class="p-name">{{ blog.title }}</h1>
            <p class="p-summary">{{ blog.description }}</p>
            <p class="p-author h-card">
                {{ _("Written by") }} <a href="{{ url_for('main.view_user',username=blog.author.username) }}"
    class="btn btn-link mb-3 p-name u-url">{{ blog.author.username }}</a>
            </p>
            {% if blog.url %}<a class="u-url" href="{{ blog.url }}">{{ blog.url }}</a>{% endif %}
            {% if current_user.is_authenticated %}
                {% if blog.author == current_user %}
                    <a href="{{ url_for('dashboard.edit_blog',blog_id=blog.id) }}"
                       class="btn btn-primary">{{ _("Edit Blog") }}</a>
                    <a href="{{ url_for('dashboard.blog_admin',blog_id=blog.id) }}"
                       class="btn btn-secondary">{{ _("Go to Dashboard") }}</a>
                    <br>
                {% endif %}
            {% endif %}
        </div>
        <br>
        <br>
        <hr>
        <br>
        <div class="col-md-12">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="pills-blog"
                            data-bs-toggle="tab"
                            data-bs-target="#pill-posts"
                            type="button"
                            role="tab"
                            aria-controls="pill-posts"
                            aria-selected="false">{{ _("Posts") }}</button>
                </li>
            </ul>
            <br>
            <hr>
            <br>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active h-feed" id="pill-posts" role="tabpanel">
                    {% if posts %}
                        {% for post in posts %}
                            <div class="card mb-3 h-entry">
                                <div class="card-body">
                                    <h1 class="card-title p-name">{{ post.title }}</h1>
                                    <p class="p-author h-card">
                                        {{ _("By") }} <a href="{{ url_for('main.view_user',username=post.author.username) }}"
    class="btn btn-link mb-3 p-name u-url">{{ post.author.username }}</a>
                                    </p>
                                    <p class="dt-published">
                                        <time datetime="{{ post.created_at.isoformat() }}">{{ moment(post.created_at).format('LLL') }}</time>
                                    </p>
                                    {% if post.updated_at %}
                                        {% if moment(post.updated_at).format('LLL') != moment(post.created_at).format('LLL') %}
                                            <p class="dt-updated">
                                                <time datetime="{{ post.updated_at.isoformat() }}">{{ _(" Last Updated at") }} {{ moment(post.updated_at).format('LLL') }}</time>
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                    <hr />
                                    <p class="card-text p-summary">
                                        {{ downstyle(post.content[:200],1) }}
                                        <br />
                                        {% if post.content|length > 200 %}
                                            <a href="{{ url_for('main.view_post', post_id=post.id, slug=post.blog.slug) }}"
                                               class="btn btn-link">
                                                <span class="text-muted">{{ _("(Click to read more)") }}</span>
                                            </a>
                                        {% endif %}
                                    </p>
                                    <a href="{{ url_for('main.view_post', post_id=post.id, slug=post.blog.slug) }}"
                                       class="btn btn-primary">{{ _("Read more") }}</a>
                                </div>
                            </div>
                        {% endfor %}
                        <nav aria-label="Posts navigation">
                            <ul class="pagination">
                                {% if prev_url %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ prev_url }}" rel="next">{{ _("Newer posts") }}</a>
                                    </li>
                                {% endif %}
                                {% if next_url %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ next_url }}" rel="prev">{{ _("Older posts") }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% else %}
                        <p>{{ _("No posts available yet.") }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ blog_footer(blog.id) }}
{% endblock content %}
