{% extends "base.html" %}
{% from "_macros.html" import blog_navbar, downstyle %}
{% block title %}{{ user.username }} - About{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
                <h1>{{ user.username }}</h1>
                {% if user.last_seen %}<p>{{ _("Last seen on") }}: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
                {% if current_user.is_authenticated %}
                    {% if user == current_user %}
                    <p>test</p>
                    {% endif %}
                {% endif %}
                <hr />
                <div class="content"></div>

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="pill-posts-tab"
                       data-bs-toggle="tab"
                       data-bs-target="#pill-posts"
                       type="button"
                       role="tab"
                       href="#pill-posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="pill-blogs-tab"
                       data-bs-toggle="tab"
                       data-bs-target="#pill-blogs"
                       type="button"
                       role="tab"
                       href="#pill-blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="pill-blogs-tab"
                       data-bs-toggle="tab"
                       data-bs-target="#pill-comments"
                       type="button"
                       role="tab"
                       href="#pill-comments">Comments</a>
                </li>
            </ul>
            <br>
            <br>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane show active" id="pill-posts" role="tabpanel">
                    {% if posts %}
                        {% for post in posts %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    {{ moment(post.created_at).format('LLL') }}
                                    {% if post.updated_at %}
                                        {% if moment(post.updated_at).format('LLL') != moment(post.created_at).format('LLL') %}
                                            <p>{{ _("Last Updated at") }} {{ moment(post.updated_at).format('LLL') }}</p>
                                        {% endif %}
                                    {% endif %}
                                    <hr />
                                    <p class="card-text">
                                        {{ downstyle(post.content[:200],2) }}
                                        {% if post.content|length > 200 %}...{% endif %}
                                    </p>
                                    <a href="{{ url_for('main.view_post', post_id=post.id) }}"
                                       class="btn btn-primary">{{ _("Read more") }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{{ _("No posts yet.") }}</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="pill-blogs" role="tabpanel">
                    {% if blogs %}
                        {% for blog in blogs %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h2 class="card-title">{{ blog.title }}</h2>
                                    {% if blog.updated_at %}
                                        {% if moment(blog.updated_at).format('LLL') != moment(blog.created_at).format('LLL') %}
                                            <p>{{ _("Last Updated at") }} {{ moment(blog.updated_at).format('LLL') }}</p>
                                        {% endif %}
                                    {% endif %}
                                    <hr />
                                    <p class="card-text">
                                        {{ downstyle(blog.description[:200],2) }}
                                        {% if blog.description|length > 200 %}...{% endif %}
                                    </p>
                                    <a href="{{ url_for('main.view_blog', blog_id=blog.id) }}"
                                       class="btn btn-primary">{{ _("View more") }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{{ _("No blogs yet.") }}</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="pill-comments" role="tabpanel">
                    {% if comments %}
                        {% for comment in comments %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    {{ moment(comment.created_at).format('LLL') }}
                                    {% if comment.updated_at %}
                                        {% if moment(comment.updated_at).format('LLL') != moment(comment.created_at).format('LLL') %}
                                            <p>{{ _("Last Updated at") }} {{ moment(comment.updated_at).format('LLL') }}</p>
                                        {% endif %}
                                    {% endif %}
                                    <hr />
                                    <p class="card-text">
                                        {{ downstyle(comment.content[:200],2) }}
                                        {% if comment.content|length > 200 %}...{% endif %}
                                    </p>
                                    <a href="{{ url_for('main.view_post', post_id=comment.post.id) }}"
                                       class="btn btn-primary">{{ _("View comment") }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>{{ _("No comments yet.") }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
